.home .image img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  
  .home .text {
    max-width: 50%;
    
    margin: 20% 0 0 10%;
  }
  
  .home h1 {
    font-size: 80px;
    color: red;
    font-weight: 400;
  }
  
  .home p {
    font-weight: 400;
    line-height: 25px;
    font-family: sans-serif;
    font-size: 17px;
    margin: 50px 0 0 50px;
  }
  
  button {
    padding: 20px 40px;
    background: none;
    outline: none;
    border: 2px solid red;
    border-radius: 50px;
    color: black;
    margin-top: 20px;
  }
  
  .home button {
    margin-left: 50px;
  }
  
  .home .image_item {
    position: absolute;
    top: 135%;
    right: 10%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .home .image_item img {
    width: 140px;
    height: 94px;
    margin: 10px;
    transition: 0.5s;
  }
  
  .home .image_item img.active {
    border: 2px solid white;
  }
  
  .home .box .text {
    position: relative;
  }
  
  .home .box .text::after {
    position: absolute;
    content: 'CRUISEHUB';
    font-size: 100px;
    top: -60%;
    font-weight: bold;
    opacity: 0.08;
  }


  #testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
}
.testimonial-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
 
@media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}

.tacbox {
    display:block;
    padding: 1em;
    margin: 2em;
    border: 3px solid #ddd;
    background-color: #eee;
    max-width: 800px;
    margin-left:340px;
  }
  
  input {
    height: 2em;
    width: 2em;
    vertical-align: middle;
  }